/**
* 在自定义元素（custom-element）前端组件中，要使用全局样式，要求每个自定义组件必须拥有一个顶层div，且class名包含front-ce
* 在自定义元素（custom-element）后台组件中，要使用全局样式，要求每个自定义组件必须拥有一个顶层div，且class名包含end-ce
* 例如：
* <div class="front-ce jx-user-info"></div>
* <div class="end-ce jx-radar-popup"></div>
*/

/**
* 后台管理系统使用的业务组件，elementplus样式重置文件
*/
.end-ce {
  // 修改element-plus默认主题色
  --el-color-primary: #4379ff;
  @extend .reset-el-end;
}

.reset-el-end {
  .el-empty {
    --el-empty-padding: 80px;
  }
  .el-dialog {
    border-radius: 8px;
  }
  .el-message {
    min-width: 180px !important;
  }
  .el-table .cell{
    padding: 0 12px;
  }
}
